---
headline: "Design vision, <span>technological craft</span>"
section: "index"
---

<section class="intro">
	<div class="content-block">
		<h2>I’m Mark, an art director & designer in Atlanta</h2>
		<p>Traversing the realms of art direction, visual identity, print, and interactive, for over 20 years I’ve been solving problems at the intersection of design and code. I am currently available for hire, remotely or on site in Atlanta.</p>
	</div>
</section>
<section id="portfolio" class="portfolio-list design-portfolio-list">
	<h2>Portfolio</h2>
	<%= partial '/partials/portfolio_list' %>
</section>
<section class="portfolio-list code-sample-list">
	<h2>Code samples</h2>
	<ul>
		<li>
			<div>
				<% link_to 'https://github.com/mark-clifton/portfolio-website' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/mark-clifton/thumb-320.jpg 320w,
								/images/code-samples/mark-clifton/thumb-640.jpg 640w,
								/images/code-samples/mark-clifton/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/mark-clifton/thumb-640.jpg"
							alt="Mark Clifton website code sample">
					</div>
					<div class="portfolio-details">
						<h3>Mark Clifton website</h3>
						<p>Source code for this website, built with Middleman, Gulp, and Sass.</p>
					</div>
				<% end %>
			</div>
		</li>
		<li>
			<div>
				<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Beyond-Indigo-Pets' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/beyond-indigo-pets/thumb-320.jpg 320w,
								/images/code-samples/beyond-indigo-pets/thumb-640.jpg 640w,
								/images/code-samples/beyond-indigo-pets/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/beyond-indigo-pets/thumb-640.jpg"
							alt="Beyond Indigo Pets code sample">
					</div>
					<div class="portfolio-details">
						<h3>Beyond Indigo Pets home page</h3>
						<p>HTML template for an agency website home page, built with jQuery and Sass.</p>
					</div>
				<% end %>
			</div>
		</li>
		<li>
			<div>
				<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Concierge-Mobile-Animal-Hospital' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/concierge-mobile-animal-hospital/thumb-320.jpg 320w,
								/images/code-samples/concierge-mobile-animal-hospital/thumb-640.jpg 640w,
								/images/code-samples/concierge-mobile-animal-hospital/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/concierge-mobile-animal-hospital/thumb-640.jpg"
							alt="Concierge Mobile Animal Hospital code sample">
					</div>
					<div class="portfolio-details">
						<h3>Concierge Mobile Animal Hospital templates</h3>
						<p>HTML templates for a veterinary website, built with jQuery and Sass.</p>
					</div>
				<% end %>
			</div>
		</li>
		<li>
			<div>
				<% link_to 'https://github.com/mark-clifton/Portfolio-sample---Tags' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/tags/thumb-320.jpg 320w,
								/images/code-samples/tags/thumb-640.jpg 640w,
								/images/code-samples/tags/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/tags/thumb-640.jpg"
							alt="TAGS! Pet Care Club code sample">
					</div>
					<div class="portfolio-details">
						<h3>TAGS! Pet Care Club templates</h3>
						<p>HTML templates for a veterinary website, built with jQuery and Sass.</p>
					</div>
				<% end %>
			</div>
		</li>
		<li>
			<div>
				<% link_to 'https://codepen.io/phasespace/pen/OWqVbm' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/kitty-empixelimator/thumb-320.jpg 320w,
								/images/code-samples/kitty-empixelimator/thumb-640.jpg 640w,
								/images/code-samples/kitty-empixelimator/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/kitty-empixelimator/thumb-640.jpg"
							alt="Kitty Empixelimator code sample">
					</div>
					<div class="portfolio-details">
						<h3>Kitty Empixelimator</h3>
						<p>An experiment in p5.js that allows a user to use their mouse to draw pixels of various sizes and shapes on an image.</p>
					</div>
				<% end %>
			</div>
		</li>
		<li>
			<div>
				<% link_to 'https://github.com/mark-clifton/Processing-video-pixelation-experiments' do %>
					<div class="img-wrapper" style="padding-bottom: 16.7%;">
						<img sizes="(min-width: 30rem) calc(50vw - 4.854rem),
								(min-width: 50rem) calc(33.3vw - 4.854rem),
								calc(100vw - 3.236rem)"
							data-original-set="/images/code-samples/webcam-pixelation/thumb-320.jpg 320w,
								/images/code-samples/webcam-pixelation/thumb-640.jpg 640w,
								/images/code-samples/webcam-pixelation/thumb-1000.jpg 1000w"
							data-original="/images/code-samples/webcam-pixelation/thumb-640.jpg"
							alt="Webcam pixelation code sample">
					</div>
					<div class="portfolio-details">
						<h3>Webcam pixelation</h3>
						<p>Simple Processing sketches that render live video input into mosaics of non-square pixels.</p>
					</div>
				<% end %>
			</div>
		</li>
	</ul>
</section>
<div class="additional-links">
	<section>
		<h2>Articles & videos</h2>
		<ul>
			<li>
				<h3><%= link_to '10 Veterinary Website Must-Haves', 'https://www.beyondindigopets.com/blog/10-veterinary-website-must-haves/' %></h3>
				<p>Beyond Indigo Pets blog (January 13, 2017)</p>
			</li>
			<li>
				<h3><%= link_to 'Webinars about basic design principles for veterinary practices', 'https://digital.wvc.org/video/Practice-Operations?q=mark%20clifton' %></h3>
				<p>Beyond Indigo Pets for Western Veterinary Conference (November 2016)</p>
			</li>
			<li>
				<h3><%= link_to 'The Background On Video Backgrounds', 'https://www.beyondindigopets.com/blog/the-background-on-video-backgrounds/' %></h3>
				<p>Beyond Indigo Pets blog (May 26, 2015)</p>
			</li>
			<li>
				<h3><%= link_to 'Introducing Content Blocks: Content Tuned for the Modern Web', 'https://www.beyondindigopets.com/blog/introducing-content-blocks-content-tuned-for-the-modern-web/' %></h3>
				<p>Beyond Indigo Pets blog (April 20, 2015)</p>
			</li>
		</ul>
	</section>
	<section>
		<h2>&c.</h2>
		<ul>
			<li>
				<h3><%= link_to 'Penrose tile coasters', 'https://www.ponoko.com/showroom/PhaseSpaceDesign/products' %></h3>
				<p>A set of acrylic coasters, laser cut and engraved into the shapes of Penrose tiles. Available for purchase.</p>
			</li>
			<li>
				<h3><%= link_to 'Sucubus font family', 'https://philsfonts.com/index.php/fonts/overview/GF038001X1' %></h3>
				<p>A pair of grunge fonts created in the mid-’90s and distributed by GarageFonts (now Phil’s Fonts). Available for purchase.</p>
			</li>
		</ul>
	</section>
</div>
<section id="contact">
	<div class="contact-info">
		<div class="content-block">
			<h2>Contact</h2>
			<ul>
				<li>
					<% link_to config[:emaillink], :class => 'button' do %>
						<%= partial '/partials/icons/email' %>
						<%= config[:email] %>
					<% end %>
				</li>
			</ul>
			<ul class="social">
				<li>
					<% link_to config[:linkedin], :title => 'LinkedIn' do %>
						<%= partial '/partials/icons/linkedin' %>
					<% end %>
				</li>
				<li>
					<% link_to config[:github], :title => 'GitHub' do %>
						<%= partial '/partials/icons/github' %>
					<% end %>
				</li>
				<li>
					<% link_to config[:codepen], :title => 'CodePen' do %>
						<%= partial '/partials/icons/codepen' %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</section>
<% # Schema.org JSON all on one line because the HTML minifyer doesn't process it %>
<script type="application/ld+json"> { "@context": "http://schema.org", "@type": "Person", "givenName": "Mark", "familyName": "Clifton", "url": "<%= config[:host] %>", "image": "<%= config[:host] %>images/Mark-Clifton.svg", "address": { "@type": "PostalAddress", "addressLocality": "<%= config[:city] %>", "addressRegion": "<%= config[:state] %>", "addressCountry": "<%= config[:country] %>" }, "email": "<%= config[:email] %>", "description": "<%= config[:description] %>", "alumniOf": { "@type": "CollegeOrUniversity", "name": "Virginia Commonwealth University" }, "sameAs": [ "<%= config[:linkedin] %>", "<%= config[:github] %>", "<%= config[:codepen] %>" ] }</script>
